.writeReview {
  background-color: white;
  margin: auto;
  padding: 20px;
  padding-top: 30px;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  margin-top: 25px;
}

.reviewHeadWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
}

.one {
  flex: 3 1;
}

.two {
  flex: 1 1;
}

.one h3 {
  margin: 0pc;
}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 100px;
  min-height: 100px;

  margin-top: 10px;
}

.btnWrapper {
  padding-top: 15px;
  display: flex; 
  justify-content: flex-end;
}